services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: washmonitor-api
    ports:
      - "8001:8001"
    environment:
      - API_ENV=production
    restart: unless-stopped

  agent-dryer:
    build:
      context: ./agent-dryer
      dockerfile: Dockerfile
    container_name: washmonitor-agent-dryer
    ports:
      - "8005:8005"
    restart: unless-stopped

  agent-washer:
    build:
      context: ./agent-washer
      dockerfile: Dockerfile
    container_name: washmonitor-agent-washer
    environment:
      - API_URL=http://api:8001
      - WASHER_CAMERA_URL=http://your_camera_url
      - DISCORD_URL=https://your_discord_webhook_url
      - SEND_SMS_URL=https://your_sms_webhook_url
      - SMS_USER=your_sms_username
      - SMS_PASSWORD=your_sms_password
      - BREN_PHONE_NUMBER=your_bren_phone_number
    depends_on:
      - api
    restart: unless-stopped
  dashboard:
    build:
      context: ./dashboard
      dockerfile: Dockerfile
    container_name: washmonitor-dashboard
    ports:
      - "3000:3000"
    depends_on:
      - api
    restart: unless-stopped
